@use "./../utils/vars" as *;
@use "./../utils/mixins" as *;

.customers-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 20px 96px 20px;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 768px;

    @include desktop {
      max-width: 1158px;
    }
    
  &--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    flex-basis: unset;
    height: 88px;
    border: solid 1px $light-slate;
    border-radius: 4px;
    transition-property: border-color;
    transition: $standard;

    @include tablet {
      flex-basis: calc((100% - 120px) / 3);
      width: calc((100% - 120px) / 6);
    }

    @include desktop {
      flex-basis: calc((100% - 120px) / 6);
      width: 168px;

    }

  }

  &--item:hover,
  &--item:focus,
  &--item:hover &--icon,
  &--item:focus &--icon {
    border-color: $iris;
    fill: $iris;
  }

  &--icon {
    fill: $light-slate;
    transition-property: fill;
    transition: $standard;
  }
}
}
