@use "./../utils/vars" as *;
@use "./../utils/mixins" as *;
@use "./../utils/globals" as *;

.border {
  box-shadow: $hdsd1, $hdsd2, $hdsd3;

  border: solid 2px pink;
}

.head {
  background: var(--white);
  box-sizing: border-box;
  justify-content: space-between;
  height: 70px;
  display: flex;
  border: solid 2px green;

  @include tablet {
    height: 72px;
  }

  @include desktop {
    height: 72px;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 0 16px;

    border: solid 2px blue;

    @include logo-font;

    @include desktop {
      padding: 0 156px;
    }



    &--web {
      color: $iris;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    width: 32px;
    height: 22px;

    border: solid 3px red;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }

    &--menu {
      background-color: transparent;
      border: 0;
      padding: 0;
      margin: 0;
      width: 32px;
      height: 22px;
      display: flex;
    }

    &--icon {
      display: block;
      fill: $navy;
      transition-property: fill;
    transition: $standard;
    }

    &--icon:hover,
    &--icon:focus {
      fill: $iris;
    }
  }
}

.container h2 {
  margin: 0;
}

