@use "./../utils/vars" as *;
.team-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: $button-grey;
  text-decoration: none;

  h2 {
    margin: 0;
    padding: 96px 0 72px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

}
.team-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 72px;
  background: $cloud;
  padding-bottom: 96px;

  figure {
    margin: 0;
    box-shadow: $team-figure;
    border-radius: 0px 0px 4px 4px;
  }

  &__member-header,
  &__member-header h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin: 32px 0 8px 0;
  }

  &__description,
  &__description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: $slate;
    margin: 0 0 8px 0;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 32px;

    &__bar {
      list-style: none;
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0;
      align-items: center;

      &--icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        position: relative;
      }

      &--icon-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--circle {
        fill: $iris;
        z-index: 1;
      }
  
      &--icon {
        position: absolute;
        fill: $cloud;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      }
    }
  }

