@use "./../utils/vars" as *;
@use "./../utils/mixins" as *;

.whatwedo {
  display: none;

  @include desktop {
    display: block;
    background-color: $white;
    margin-bottom: 120px;
    text-align: center;


    &__title {
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: $navy;
      margin-bottom: 72px;
    }

    &__list {
      display: flex;
      justify-content: center;
      background-color: $white;
      margin: 0;
      gap: 24px;

      &--element {
        max-width: 100%;
        height: auto;
      }
    }
  }
}