@use "./vars" as *;
@use "./mixins" as *;

body {
  font-family: $main-font;
  color: $header-color;
  background-color: $white;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition: $standard;
}

a:hover,
a:focus {
  color: var(--$iris);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1600px;
  }
}