@use "./vars" as *;

body {
  font-family: $main-font;
  color: $header-color;
  background-color: $white;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition: $standard;
}

a:hover,
a:focus {
  color: var(--web-studio-blue);
  transition-property: color;
  transition: $standard;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
